<?xml version="1.0" ?>
<launch>
  <arg name="param_file" default="$(find rpl_exploration)/config/exploration.yaml" />


  <group ns="aeplanner">
    <node pkg="tf2_ros" type="static_transform_publisher" name="primesense_broadcaster" args="0.05 0 0.13 -1.57079633 0 -1.57079633 base_link camera_link" />

    <include file="$(find aeplanner)/launch/aeplanner_nodelet.launch"/>
    <include file="$(find pigain)/launch/pig.launch"/>
    <include file="$(find rpl_exploration)/launch/fly_to.launch"/>
    <include file="$(find rpl_exploration)/launch/octomap_server.launch"/>
    <include file="$(find rrtplanner)/launch/rrtplanner.launch"/>

    <node name="rpl_exploration" pkg="rpl_exploration" type="rpl_exploration" output="screen" />
    <rosparam command="load" file="$(arg param_file)" />
  </group>

  <!-- Nodelet manager for camera-->
  <node pkg="nodelet" type="nodelet" args="manager"
name="camera_manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="image_to_points" args="load depth_image_proc/point_cloud_xyz camera_manager --no-bond">
    <remap from="camera_info" to="/camera/depth/camera_info" />
    <remap from="image_rect" to="/camera/depth/image_raw2" />
    <remap from="points" to="/camera/depth/points2" />
    <param name="queue_size" value="100" />
  </node>

  <node pkg="rpl_exploration" type="image_maxing.py" name="image_maxing" />
</launch>
