<?xml version="1.0" ?>
<launch>
  <arg name="param_file" default="$(find rpl_exploration)/config/exploration.yaml" />


  <group>
	  <!--<node type="nodelet" name="aeplanner_nodelet_manager" pkg="nodelet" args="manager" output="screen"/>-->
    <include file="$(find rpl_exploration)/launch/primesense.launch"/>
    <include file="$(find rpl_exploration)/launch/octomap_server_nodelet.launch"/>
    <include file="$(find aeplanner)/launch/aeplanner_nodelet.launch"/>
    <include file="$(find pigain)/launch/pig.launch"/>
    <include file="$(find rpl_exploration)/launch/fly_to.launch"/>
    <include file="$(find rrtplanner)/launch/rrtplanner.launch"/>

    <node name="rpl_exploration" pkg="rpl_exploration" type="rpl_exploration" output="screen" />
    <rosparam command="load" file="$(arg param_file)" />
  </group>
</launch>
