<?xml version="1.0" ?>
<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
  <param name="resolution" value="0.2" />
		<param name="publish_free_space" value="true" />
		
		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />
		
		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="5" />

    <remap from="cloud_in" to="/camera/depth/points2" />
	</node>
</launch>
